@import-normalize; /* bring in normalize.css styles */
*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}
html {
	box-sizing: border-box;
	width: 100vw;
	overflow-x: hidden;
}


input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	padding: 0;
	margin: 0;
	border: 0;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 24px;
	color: #fff;
	background: #46005f;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
